@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica"), url("./assets/Fonts/Helvetica.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Oblique"),
    url("./assets/Fonts/Helvetica-Oblique.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Compressed";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Compressed"),
    url("./assets/Fonts/helvetica-compressed-5871d14b6903a.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Rounded Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Rounded Bold"),
    url("./assets/Fonts/helvetica-rounded-bold-5871d05ead8de.woff")
      format("woff");
}

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica"),
    url("./assets/Fonts/Helvetica-Bold.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Bold Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Bold Oblique"),
    url("./assets/Fonts/Helvetica-BoldOblique.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Light";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Light"),
    url("./assets/Fonts/helvetica-light-587ebe5a59211.woff") format("woff");
}

/* General Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Light";
  font-weight: 400;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.btn {
  padding: 12px 20px;
  font-size: 16px;
  line-height: 1;
  font-family: "Helvetica Light";
  font-weight: 400;
  color: var(--color);
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  cursor: pointer;
  letter-spacing: 1px;
  border-radius: 980px;
  -webkit-border-radius: 980px;
  -moz-border-radius: 980px;
  -ms-border-radius: 980px;
  -o-border-radius: 980px;
  transition: all 0.5 ease-in-out;
  -webkit-transition: all 0.5 ease-in-out;
  -moz-transition: all 0.5 ease-in-out;
  -ms-transition: all 0.5 ease-in-out;
  -o-transition: all 0.5 ease-in-out;
}

.btn-primary {
  --color: white;
  --bg-color: rgb(0, 113, 227);
}

.btn-primary:hover {
  opacity: 0.8;
}

.btn-secondary {
  --color: rgb(0, 113, 227);
  --bg-color: transparent;
  --border-color: rgb(0, 113, 227);
}

.btn-secondary:hover {
  --color: white;
  --bg-color: rgb(0, 113, 227);
}

.btn-white {
  --color: black;
  --bg-color: white;
}
.btn-white:hover {
  opacity: 0.8;
}

/* Header */
.header {
  height: 44px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(22, 22, 23, 0.8);
  z-index: 1;
  transition: height 0.5s ease-in-out;
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -ms-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
}

.header.active {
  height: 100%;
  background-color: rgba(22, 22, 23);
}

.navbar {
  position: relative;
  padding: 0px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .icon-navbar {
  width: 14px;
  fill: rgba(255, 255, 255, 0.8);
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}

.navbar-menu a {
  font-family: "Helvetica Light";
  font-weight: 100;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.navbar-menu {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.navbar-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

#toggle-navbar {
  display: none;
}

/* main */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.iphone {
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 580px;
}

#hero-iphone-black {
  padding-top: 46px;
  background-image: url(./assets/Image/hero_iphone.jpg);
  color: white;
}

#hero-iphone-white {
  background-image: url(./assets/Image/hero_iphone_white.jpg);
  color: black;
}

#hero-macbook-air {
  background-image: url(./assets/Image/macbook_air.jpg);

  h5 {
    font-size: 28px;
    font-weight: 400;
  }

  p {
    margin-top: 8px;
    font-size: 20px;
    font-weight: 200;
    color: #6e6e73;
  }
}

.content {
  margin: 47px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.content h1 {
  font-size: 52px;
  font-weight: 400;
  font-family: "Helvetica";
  line-height: 1;
}

.content p {
  font-size: 28px;
  font-family: "Helvetica Light";
  font-weight: 400;
  line-height: 1;
  margin-bottom: 12px;
}

.cta-button {
  display: flex;
  justify-content: center;
  gap: 15px;
}

/* grid product container */
.grid-container-product {
  width: 100%;
  padding: 0px 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.grid-items-product {
  height: 580px;
  padding-top: 50px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;

  h5 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 40px;
    font-weight: 600;
  }

  .btn {
    padding: 8px 16px;
  }
}

#watch-nine {
  background-image: url(./assets/Image/apple_watch.jpg);
  color: white;
}
#watch-ultra {
  background-image: url(./assets/Image/apple_watch_white.jpg);
  color: black;
}

#ipad {
  background-image: url(./assets/Image/ipad.jpg);
  color: black;
}
#ipad-pro {
  background-image: url(./assets/Image/ipad_black.jpg);
  color: white;
}

#macbook-pro {
  background-image: url(./assets/Image/macbook_white.jpg);
  color: black;
}

#airpords-pro {
  background-image: url(./assets/Image/airpods.jpg);
  color: white;
}

/* carousel */
#apple-tv {
  width: 100%;
  overflow-x: hidden;
}

.carousel {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  height: 520px;
  margin-bottom: 12px;
}

.carousel-item {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 280px);
  height: 520px;
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(var(--translate-carousel));
  transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}

.carousel-active {
  opacity: 0.56;
}

.carousel-content {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  left: 0;
  bottom: 0;
  padding-left: 52px;
  padding-bottom: 48px;
}

.carousel-content p {
  color: white;
  font-size: 20px;
  font-weight: 400;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}

.carousel-control {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.carousel-control span {
  height: 8px;
  width: 8px;
  background-color: #0000006b;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}

/* Footer */
footer {
  background-color: rgb(245, 245, 247);
  margin-top: 12px;
  padding: 12px 0;
  font-size: 12px;
  font-family: "Helvetica Light";
  font-weight: 400;
  line-height: 1.3;
}

.subsribe {
  color: rgba(0, 0, 0, 0.72);
}

.spasi {
  margin: 16px 0;
}

.list-product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

.list-product ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.list-product strong {
  font-family: "Helvetica";
  color: rgba(0, 0, 0, 0.72);
}

.retailer {
  color: rgb(0, 102, 204);
  text-decoration: underline;
}

.copyright {
  display: flex;
  justify-content: space-between;
  font-family: "Helvetica";
}

/* Responsif Tablet */
@media screen and (max-width: 768px) {
  .header {
    height: 48px;
  }
  .header.active .navbar-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  .header.active .icon-navbar {
    opacity: 0;
  }

  .navbar-menu {
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px);
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    padding: 48px;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease, transform 0.5s ease,      visibility 0s linear 0.5s;
    -webkit-transition: opacity 0.5s ease, transform 0.5s ease,      visibility 0s linear 0.5s;
    -moz-transition: opacity 0.5s ease, transform 0.5s ease,      visibility 0s linear 0.5s;
    -ms-transition: opacity 0.5s ease, transform 0.5s ease,      visibility 0s linear 0.5s;
    -o-transition: opacity 0.5s ease, transform 0.5s ease,      visibility 0s linear 0.5s;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
}

  .navbar-menu a {
    font-family: "Helvetica";
    font-size: 28px;
    line-height: 1.1428571429;
    font-weight: 400;
    letter-spacing: 0.007em;
  }

  #toggle-navbar {
    display: block;
    position: relative;
    appearance: none;
  }
  #toggle-navbar::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='white'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5'/%3E%3C/svg%3E");
    position: absolute;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  #toggle-navbar:checked::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='white'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M6 18L18 6M6 6l12 12'/%3E%3C/svg%3E");
  }

  .content h1 {
    font-size: 44px;
  }
  .content p {
    font-size: 24px;
  }

  .btn{
    font-size: 14px;
    padding: 21 11;
  }

  .carousel-item{
    width: calc(100% - 120px);
  }

  footer{
    padding: 12px;
  }

  .list-product{
    font-size: 1em;
  }
}

/* responsif Mobile */
@media screen and (max-width: 426px) {
  .grid-container-product {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;

    h5 {
      font-weight: 400;
      font-size: 18px;
      margin-bottom: 10px;
    }
  }

  .content{
    justify-content: center;
  }

  .iphone{
    height: 450px;
  }

  .content h1 {
    font-size: 36px;
  }
  .content p {
    font-size: 16px;
  }
  #hero-macbook-air {
  background-image: url(./assets/Image/macbook_air-mobile.jpg);

  h5 {
    font-size: 20px;
    font-weight: 400;
  }

  p {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 200;
    color: #6e6e73;
  }
}

  .btn{
    font-size: 14px;
    padding: 15 7;
  }

  .list-product{
    grid-template-columns: repeat(2, 1fr);
  }

  .carousel-item{
    width: calc(100% - 100px);
  }

  .carousel-content{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .carousel-content p{
    font-size: 16px;
  }
}
